*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Courier New", monospace;

}

.primary-nav img {
  width: 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 1000px;
  padding: 0;
}


.nav-links li {
  margin-left: 10px; 
  padding: 10px;

}

.nav-links li:first-child {
  margin-left: 0;
}

  
.nav-link {
  text-decoration: none;
  color: rgba(0, 2, 5, 0.888);
  font-size: 1.25rem;
}


.nav-link:hover {
  color: rgb(9, 99, 44);
} 

header {
  margin-top: 100px;
  margin-left: 100px;
}

.layout {
  display: flex;
}

.left {
  width: 50%;
  padding: 80px 100px;
  font-family: "Courier New", monospace;
}

.right {
  position: fixed;
  right: 0;
  top: 0;

  width: 50%;
  height: 100vh;

  background-color: #8ea69b;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 400px;
  max-width: 80%;
}

.link {
  line-height: 2.6;
  font-size: 18px;
    
}
.link img {
   vertical-align: middle;
}

.link a {
  padding: 20px;
}

.cv {
   margin-top: 100px;
   margin-bottom: 200px;
   font-size: 18px;
}
.cv a , img {
   text-decoration:none;
   color: black;
   vertical-align: middle;
}

.cv a:hover {
  color:rgb(9, 99, 44);
}

.title {
  font-size: 28px;
  letter-spacing: 6px;
  font-weight: 500;
}
.divider{
    border: 1px solid black;
}
.about , .skills {
  font-size: 15px;
  line-height: 2.6;
  margin-bottom: 200px;
}

.cards-wrapper {
  display: flex;
  gap: 10px;               
  justify-content: center; /* center cards horizontally */
  flex-wrap: wrap;         /* responsive for small screens */
  margin-top: 30px;
}

.card {
  flex: 1;
  width: 250px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;     
}

.card img {
  width: 60px;
  display: block;
  margin: 0 auto 15px;     /* centers logo horizontally */
}

.container {
  margin: 10px 0 5px;
  font-size: 14px;
}

.education, .achievements, .reference{
    margin-top: 200px;
    font-size: 15px;
    line-height: 2.6;
}

.footer{
  font-size: 13px;
  margin-top: 200px;
  background-color: rgba(142,166,155, 0.4);
  vertical-align: middle;
  
}
.footer div {
  padding: 25px 0px;
  margin-left: 200px;
}
.footer a{
  text-decoration: none;
  color: black;
  color:rgb(9, 99, 44);
}

