*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Courier New", monospace;

}

.primary-nav img {
  width: 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 200rem;
  padding: 0;
}

.nav-links li {
  padding: 10px;

}

.nav-link {
  text-decoration: none;
  color: rgba(0, 2, 5, 0.888);
  font-size: 1.25rem;
}

.nav-link:hover {
  color: rgb(9, 99, 44);
} 

header {
   margin: 4rem 4rem 4rem;
}

.layout {
  display: flex;
}

.left {
  width: 50%;
  padding: 3rem 4rem;
  margin-right: 50%;
  font-family: "Courier New", monospace;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #8ea69b;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 400px;
  max-width: 80%;
}

.link {
  line-height: 2.6;
  font-size: 18px;
     
}

.link img {
   vertical-align: middle;
}

.link a {
  padding: 20px;
}

.cv {
   margin: 7rem 0 13rem;
   font-size: 1.125rem;
}
.cv a , 
.cv img {
   text-decoration:none;
   color: black;
   vertical-align: middle;
}

.cv a:hover {
  color:rgb(9, 99, 44);
}

.title {
  font-size: 1.75rem;
  letter-spacing: 6px;
  font-weight: 500;
}
.divider{
    border: 1px solid black;
}

section {
  margin-bottom: 13rem;
  font-size: 0.9375rem;
  line-height: 2.6;
}

.cards-wrapper {
  display: flex;
  gap: 10px;               
  justify-content: center; /* center cards horizontally */
  flex-wrap: wrap;         /* responsive for small screens */
  margin-top: 1rem;
}

.card {
  flex: 1;
  width: 250px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;     
}

.card img {
  width: 60px;
  display: block;
  margin: 0 auto 15px;     /* centers logo horizontally */
}

.container {
  margin: 10px 0 5px;
  font-size: 0.875rem;
}

.footer{
  font-size: 0.875rem;
  background-color: rgba(142,166,155, 0.4);
  vertical-align: middle;
  color: black;
  
}
.footer div {
  padding: 25px 0px;
  padding-left: 10rem;
}
.footer a{
  text-decoration: none;
  color:rgb(9, 99, 44);
}


